::-webkit-scrollbar{
    display: none;  
}




body{

   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 97.5vh;
    background-color: #0A101E;
    
}



p{
    
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 0vh;
    color: white;
    font-weight: bold;
    margin:3vh;
    margin-left: 0px;
}
.p2{
    padding-left: 13vh;
    margin:3vh;
    margin-left: 0px;
}

.p3{
    padding-left: 13vh;
    margin:3vh;
    margin-left: 0px;
}

.hi{
    font-size: 7vh;
    margin-top: 19vh;
    margin-bottom: -16vh;
    font-family: "Kanit";
    margin-left: 10vh;
    padding-right:0;
    
    position: relative;
    max-width: 90%;
    
    
    
}

.item1{

    
    height: 2vh;
    width: 70vh;




}

.item2{
    
    font-family: "Roboto Mono";
    font-size: 2.5vh;
    flex-direction: row;
    margin-top: 15vh;
    margin-left: 0vh;
    margin-right: 2vh;
    margin-bottom: 5vh;
     
}
.item3{
    justify-content: space-evenly;
    margin-top: 0vh;
    font-family: "Roboto Mono";
    font-size: 2.5vh;
    
}



.container{ 
    
    height: 50vh;
    width: 90%;
    margin-top: 5vh;
    
    
    
       
}
.bottom{
    width: 100%;
    text-align: center;
    margin-bottom: 1vh;
}

#button{
    right: 0vh;
    height: 5vh;
    width: 12vh;
    border-radius: 4px;
    background-color: #080413f3;
    color: #fff;
    position: relative;
    border: 1.8px solid;
    box-shadow: inset 0 0 0 0 #27afa8;
    transition: ease-out 0.3s;
    outline: none;
    cursor: pointer;
    z-index: 1;
    text-align: center;
    border-color: #27afa8;
    font-size: 1.7vh;
    

}
#button:hover{
   
    cursor:pointer;
}

#button:before{
    transition: 0.5s all ease ;
    position: absolute;
    top:0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #27afa8;
    

}

#button:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
    border-radius: 3px;
}




#blink{
    
    background-color: #27afa8;
    height: 8vh;
    width: 1vh;
    animation: 1.5s linear 0s infinite running Myblink;
    
    position:fixed;
    top:26vh;
    left: 67.5vh;
   
    
}

@keyframes Myblink{
    100%{opacity: 0;}
}

.fa-linkedin{
    font-size: 4vh;
}

.fa-envelope{
    font-size: 4vh;
}
#icon1{
   
    top:2vh;
    right: 3vh;
    position: absolute;
    padding: 2vh;
    
    }
    
#icon2{
        display: none;
        top: 2vh;
        right: 5rem;
        margin-left: 1vh;
        position: fixed;
        padding: 2vh;
        
}

@media screen and (max-width:433px){

    .hi{
        font-size:35px;
    }
    p{
        font-size: 80%;
    }
    #blink{
        top:25vh;
        left: 360px;
        height: 50px;
        width: 0.7vh;

    }
   
}

