body{
    /*border-style: dotted;*/
    /*background-color: #0a192f;*/
    background-color: #0A101E;
    
    
}

.sidebar{
    
    /*border-style: dotted;*/
    flex-direction: row;
    text-align: right;
    margin-left: 1600px;
    justify-content: space-evenly;
    display: flex;
    margin-top: 0vh;
    position: fixed;
    top: 50vh;
    right: 1.5vh;
    
    
}
.sidelist{
    display: none;
}



.main{
    align-items: center;
}
.box1{
    align-items: center;
    justify-content: space-evenly;
    /*border-style: dotted;*/
    padding-top: 30vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-bottom: 25vh;
    height: 30px;/*300px*/
    color: white;
}
.entrencetext{
    
    /*border-style: dotted;*/
    margin-top:13vh;
    position: relative;
    text-align: left;
    font-size: 3vh;
    color: aliceblue;
    font-family: "Roboto Mono";
    


}
span{
    /*border-style: dotted;*/
    font-size: 7vh;
    font-family: "Kanit";
    font-weight: bold;
    
}
.blink{
    background-color: #27afa8;
    height: 8vh;
    width: 0.8vh;
    animation: 1.5s linear 0s infinite running Myblink;
    position:absolute;
    margin-left:0.5vh;
    margin-top: 1.25vh;
    

}
@keyframes Myblink{
    100%{opacity: 0;}
}


/* icontemp */
.icontemp{
    position: absolute;
    text-align: right;
    
    margin-top: 25vh;
    margin-left: 44.3%;
    
}

.linkedin{
    font-size: 3vh
}

.mail{
    font-size: 3vh;
}


.box2{
    display: none;
    /*border-style: dotted;*/
    margin-top: 15vh;
    height: 700px;
    color: white;
    
}
.header2{
    font-size:5vh;
    text-align: left;
    padding-left: 10vh;
    
}
.content2{
    font-size:3vh;
    text-align: left;
    /*border-style: dotted;*/
    margin: 9vh;
    margin-left: 10vh;
}



.box3{
    display: none;
    height: 800px;
    /*border-style: dotted;*/
    color: white;
}
.header3{
    font-size:5vh;
    text-align: left;
    padding-left: 10vh;
}
.projectcard{
    border-style: solid;
    height: 500px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 90px;
    border-radius: 10px;
    
    
}
.card1{
    background-color: #373737;
    
    border-style: dotted;
    height: 45vh;
    width: 30vh;
    border-radius: 10px;
    
}
.card2{
    background-color: #373737;
    
    border-style: dotted;
    height: 45vh;
    width: 30vh;
    border-radius: 10px;
    
}
.card3{
    background-color: #373737;
    
    border-style: dotted;
    height: 45vh;
    width: 30vh;
    border-radius: 10px;
    
}
.card4{
    background-color: #373737;
    
    border-style: dotted;
    height: 45vh;
    width: 30vh; 
    border-radius: 10px;
    
}

.box4{
    
    /*border-style: dotted;*/
    height: 00px;/*height:200px*/
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    color: white;




   
}
.header4{
    display: none;




    border-style: dotted;
    font-size:5vh;
    text-align: left;
    padding-left: 10vh;
}
.content4{
    /*border-style: dotted;*/
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    
    
}
.icon4{
    /*border-style: dotted;*/
    display: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    position:relative;
    margin-left:auto;
    margin-right: auto;
    
    
   
    
}
a{
    text-decoration: none;
}
#linkedin{
    margin-right:3vh;
}
#envelope{
    padding-left: 3vh;
}



@media screen and (max-width:500px){
    span{
        font-size: 4vh;
    }
       .blink{
        height: 5vh;
        margin-top: 0.5vh;
    }

    .entrencetext{
        font-size: 2.5vh;
        padding-left: 0px;
    }
    .icontemp{
        margin-top: 0vh;
        margin-left: 25%;
    }
}

@media screen and (max-width:850px){

    .icontemp{
        margin-top: 5vh;
    }
}